<style>

table.info {
  border-spacing: 0;
  color:          #fff;
  font-size:      1em;
  text-align:     left;
}
table.info tr td.label {
  color:     #3664a7;
  font-size: 1.2em;
}
table.info tr td {
  -moz-background-clip:          border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin:        padding;  
/*  padding:                       2px 10px;*/
}

table.index {
/*  width:          98%;*/
  border-color:   #afdb5a #afdb5a -moz-use-text-color -moz-use-text-color;
  border-spacing: 5;
  border-style:   solid solid none none;
  border-width:   1px 1px 0 0;
  color:          #666666;
  font-size:      0.8em;
  border:         0;
}
table.index thead {
  text-align: left;
  background: #6c7a52 none repeat scroll 0 0;  
}
table.index tr td.label {
  color:     #962920;
  font-size: 1.2em;
}
table.index th {
  color:       #fff;
  font-weight: bold;
  padding:     2px 10px;  
}
table.index tr td {
  -moz-background-clip:          border;
  -moz-background-inline-policy: continuous;
  -moz-background-origin:        padding;
  border-bottom:                 1px solid #afdb5a;
  border-left:                   1px solid #afdb5a;
  padding:                       2px 10px;
}

div#indexes {
  margin: 10px 10px;
  font-size: 0.6em;
}

p.dialog {
  color:      #afdb5a;
  text-align: center;
}
</style>


<p class="dialog"><%= @cltn.name %>(<%=@cltn.count%> items)</p>

<div id="indexes">
  <h2>Indexes</h2>
  <table class="info">
    <thead>
      <th>Name</th>
      <th>Details</th>
      <th>&nbsp;</td>
    </thead>
    <tbody>
      <% @cltn.index_information.each_pair do |index_name, details| %>
        <tr>
          <td valign="top"><%=index_name%></td>
          <td>
            <table class="index">
              <% details.each do |pair| %>
                 <tr>
                   <td><%=pair.first%></td>
                   <td><%=pair.last%></td>
                 </tr>
              <% end %>
            </table>
          </td>
          <td valign="top">
            <img src="/images/delete.png"/>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>