<form id="cols" onsubmit="fields_submit();return false;" action="/cltn_refresh" method="post">
  <div style="width:85%;overflow:hidden;float:left">
    <% @cols.each do |col|%>
      <fieldset class="check">
        <input id="<%=col%>" type="checkbox" name="cols[<%=col%>]" value="1" <%=@selected_cols.include?(col) ? "checked" : ""%>/>
        <label for='<%=col%>'><%=col%></label>
      </fieldset>  
    <% end %>
  </div>
  <fieldset style="float:right;">
    <button type="submit" id="submit_button" class="button show">
      <span style="font-size:1em">show</span>
    </button>
  </fieldset>  
</form>

<script>
 function fields_submit()
 {
   $.ajax({
     data:     $.param( $("form#cols").serializeArray() ),
     dataType: 'script',
     type:     'post',
     url:      '/cltn_refresh/<%=@page%>'
   }); 
 }
</script>
