<div class="cltn">
  <div class="title"><%=@title%></div>
  <a class="back" href="<%=@back_url%>">&laquo;&nbsp;back</a>
  <% unless @cltn.empty? %>
    <div id="fields">
      <%= partial :fields_form %>
    </div>
    <%= partial :search_form %>

    <div class="table">    
      <%= partial :cltn %>
    </div>
  <% else %>
    <span>No items found!</span>
  <% end %>
<div>