<div class="cltn">
  <div class="title"><%=@title%></div>
  <a class="back" href="<%=@back_url%>">&laquo;&nbsp;back</a>

  <div id="summary">
    <%= page_entries_info @cltns, :entry_name => 'item' %>
  </div>

  <table class="cltn" border="0" cellpadding="10" cellspacing="20">
    <thead>
      <% cols = @cltns.first.keys %>
      <% cols.each do |col| %>
        <th><%=col%></th>
      <% end %>
    </thead>
    <tbody>
      <% @cltns.each do |cltn| %>
        <tr valign="top">
          <% cltn.each_pair do |k, v| %>
            <td><%= v %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div id="links">
    <%= will_paginate @cltns, :params => { :url => "/db" } %>
  </div>
<div>