<h1 style="text-align:center">Details for <em><%=@info.delete( :title ) %></em></h1>

<% if @info.has_key? :links %>
  <div style="text-align:right;">
    <% @info.delete(:links).each_pair do |name, url| %>
      <a href='<%=url%>'><%=name%></a>
    <% end %>
  </div>
<% end %>

<table class="cltn" border="0" cellpadding="10" cellspacing="20">
  <thead>
    <th width="20%">Name</th>
    <th width="80%">Value</th>
  </thead>
  <tbody>
    <% @info.each_pair do |name, info| %>
      <tr valign="top">
        <td><%= name %></td>
        <td><%= display_info(info) %></td>
      </tr>
    <% end %>
  </tbody>
</table>