<div id="summary">
  <%= page_entries_info @cltns, :entry_name => 'item' %>
</div>

<% unless @cltns.empty? %>
  <div class="borders" style="padding:10px">
    <table id="cltn" class="cltn" border="0" cellpadding="10" cellspacing="20">
      <thead>
        <th width="2%">&nbsp;</th>
        <% cols = @cltns.first.keys %>
        <% cols.each do |col| %>
          <th align="<%=align_for( @cltns.first[col] )%>"><%=col%></th>
        <% end %>
      </thead>
      <tbody>
        <% count = 0; @cltns.each do |cltn| %>
          <tr id="<%=count%>" valign="top">
            <td id="<%=count%>">
              <img rel="div#confirm_drop" class="drop" id="<%=cltn[:name]%>" rel="<%=count%>" src="/images/delete.png" title="drop this collection" style="display:none"/>
              <img class="wait" id="wait_<%=count%>" src="/images/loading.gif"></img>
            </td>
            <td><a href="/databases/collection/<%=cltn[:name]%>/"><%= cltn[:name] %></a></td>
            <td align="<%=align_for( cltn[:count] )%>"><%= format_number(cltn[:count]) %></td>
          </tr>
        <% count+=1;end %>
      </tbody>
    </table>
  </div>
  <div id="links">
    <%= will_paginate @cltns, :params => { :url => "/databases" } %>
  </div>
<% else %>
  <div class="no_items">Oh snap! No collections found...</span>
<% end %>

<div class="modal" id="confirm_drop" style="font-size:1em">
   <p>Dropping collection. Are you sure?</p>
   <p style="margin:10px">
     <button class="close yes">Yes</button>
     <button class="close">No</button>
   </p>
</div>

<script>
  $( function() {
    $("table#cltn tr" ).hover( 
      function() { 
        $(this).addClass( 'highlight' );
        $("td#" + $(this).attr('id') + " img.drop" ).show();
      }, 
      function() { 
        $(this).removeClass( 'highlight' );      
        $("td#" + $(this).attr('id') + " img.drop" ).hide();
    });
    
    $('img.drop' ).overlay( {
      expose: {
         color:     '#212021',
         loadSpeed: 200,
         opacity:   0.9 
      },
      onBeforeLoad: function() {
        $("button.yes").attr( 'id', this.getTrigger().attr('id') );
      },
      closeOnClick: false
    });
        
    $( 'button.yes' ).click( function() {
      var self = $(this);
      $.ajax({
        data:     {path:self.attr('id')},
        dataType: 'script',
        type:     'post',
        url:      '/databases/delete/'
      }); 
    });    
  });
</script>
